::ng-deep span.p-step-title {
  color: red;
}

::ng-deep .p-step-active .p-step-title{
    color: skyblue !important;
}


::ng-deep .p-stepper-separator{
      background: none !important;
  border-top: 2px dashed #2563eb;
}

::ng-deep .p-step:has(~ .p-step-active) .p-stepper-separator {
  background: none !important;
  border-top: 2px solid #2563eb;
}

::ng-deep .p-step-number{
    display: none !important;
}
