<div class="min-h-screen max-w-lg mx-auto flex flex-col justify-center py-10 bg-amber-750">
  <h1 class="text-3xl font-bold pb-6">Create Account</h1>

  <p-stepper [value]="step" class="basis-[50rem]">
    <p-step-list>

      <p-step [value]="1">

        @if (step > 1) {
        <div class="w-5 h-5 flex items-center justify-center">
          <div class="w-3.5 h-3.5 bg-[#2563eb] rotate-45"></div>
        </div>
        } @else {
         <div class="w-5 h-5 flex items-center justify-center">
          <div class="w-3.5 h-3.5 border border-[#2563eb] rotate-45"></div>
        </div>
        }

      </p-step>

      <p-step [value]="2">

            @if (step > 2) {
        <div class="w-5 h-5 flex items-center justify-center">
          <div class="w-3.5 h-3.5 bg-[#2563eb] rotate-45"></div>
        </div>
        } @else {
         <div class="w-5 h-5 flex items-center justify-center">
          <div class="w-3.5 h-3.5 border border-[#2563eb] rotate-45"></div>
        </div>
        }
      </p-step>

      <p-step [value]="3">

        @if (step > 3) {
        <div class="w-5 h-5 flex items-center justify-center">
          <div class="w-3.5 h-3.5 bg-[#2563eb] rotate-45"></div>
        </div>
        } @else {
         <div class="w-5 h-5 flex items-center justify-center">
          <div class="w-3.5 h-3.5 border border-[#2563eb] rotate-45"></div>
        </div>
        }

      </p-step>

      <p-step [value]="4">

           @if (step > 4) {
        <div class="w-5 h-5 flex items-center justify-center">
          <div class="w-3.5 h-3.5 bg-[#2563eb] rotate-45"></div>
        </div>
        } @else {
         <div class="w-5 h-5 flex items-center justify-center">
          <div class="w-3.5 h-3.5 border border-[#2563eb] rotate-45"></div>
        </div>
        }
      </p-step>

    </p-step-list>
    <p-step-panels>
      <p-step-panel [value]="1">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="flex flex-col h-48">
            <div
              class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
              Content I1
            </div>
          </div>
          <div class="flex pt-6 justify-end">
            <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(2)"
              (click)="setStep(2)" />
          </div>
        </ng-template>
      </p-step-panel>

      <p-step-panel [value]="2">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="flex flex-col h-48">
            <div
              class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
              Content II
            </div>
          </div>
          <div class="flex pt-6 justify-between">
            <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(1)"
              (click)="setStep(1)" />
            <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(3)"
              (click)="setStep(3)" />
          </div>
        </ng-template>
      </p-step-panel>
      <p-step-panel [value]="3">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="flex flex-col h-48">
            <div
              class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
              Content III
            </div>
          </div>
          <div class="flex pt-6 justify-between">
            <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="activateCallback(2)"
              (click)="setStep(2)" />
            <p-button label="Next" icon="pi pi-arrow-right" iconPos="right" (onClick)="activateCallback(4)"
              (click)="setStep(4)" />
          </div>
        </ng-template>
      </p-step-panel>

      <p-step-panel [value]="4">
        <ng-template #content let-activateCallback="activateCallback">
          <div class="flex flex-col h-48">
            <div
              class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
              Content IIII
            </div>
          </div>
          <div class="flex pt-6 justify-start">
            <p-button label="Back" icon="pi pi-arrow-left" iconPos="right" (onClick)="activateCallback(3)" />
          </div>
        </ng-template>
      </p-step-panel>

    </p-step-panels>
  </p-stepper>


  <!-- <form [formGroup]="registerForm">


    <div class="mb-5 flex gap-5">
      <div class="w-1/2">
        <label for="firstName" class="block mb-1 font-medium">First name</label>
        <input formControlName="firstName" type="text" id="firstName" class="custom-input w-full" placeholder="Ahmed"
          pInputText required />
        <validation-error [control]="registerForm.get('firstName')" [InputLabel]="'first name'"></validation-error>
      </div>
      <div class="w-1/2">
        <label for="lastName" class="block mb-1 font-medium">Last Name</label>
        <input formControlName="lastName" type="text" id="lastName" class="custom-input w-full" placeholder="Abdullah"
          pInputText required />
        <validation-error [control]="registerForm.get('lastName')" [InputLabel]="'last name'"></validation-error>

      </div>
    </div>
    <div class="mb-5">
      <label for="userName" class="block mb-1 font-medium">Username</label>
      <input formControlName="userName" type="text" id="userName" class="custom-input w-full" placeholder="user123"
        pInputText required />

      <validation-error [control]="registerForm.get('userName')" [InputLabel]="'username'"></validation-error>
    </div>
    <div class="mb-5">
      <label for="email" class="block mb-1 font-medium">Email</label>
      <input formControlName="email" type="email" id="email" class="custom-input w-full" placeholder="user@example.com"
        pInputText required />

      <validation-error [control]="registerForm.get('email')" [InputLabel]="'email'"></validation-error>

    </div>

    <div class="mb-5">
      <label for="phone" class="block mb-1 font-medium">Phone</label>

      <div class="flex rounded-base">
        <div>
          <div class="flex h-full items-center">
            <img [src]="'https://flagcdn.com/16x12/' + selectedCountry?.code.toLowerCase() + '.webp'"
              class=" w-5 h-3 pointer-events-none" />
            <select formControlName="country" class="custom-input h-full w-full">
              @for (c of countries; track $index){
              <option [value]="c.code">
                {{ c.code }}({{ c.dialCode }})
              </option>
              }
            </select>
          </div>
          <i-lucide [img]="selectIcon" [size]="17" class="pointer-events-none">
          </i-lucide>
        </div>

        <input formControlName="phone" type="tel" id="phone" class="custom-input" placeholder="1012345678" pInputText
          required />

        <validation-error [control]="registerForm.get('phone')" [InputLabel]="'phone'"></validation-error>

      </div>

    </div>
    <div class="mb-2 w-full ">
      <label class="block mb-1 font-medium">Password</label>
      <p-password formControlName="password" [placeholder]="'********'" class="w-full" [feedback]="false"
        [toggleMask]="true" />
      <validation-error [control]="registerForm.get('password')" [InputLabel]="'password'"></validation-error>

    </div>
    <div class="mb-7 w-full ">
      <label class="block mb-1 font-medium">Confirm Password</label>
      <p-password formControlName="rePassword" [placeholder]="'********'" class="w-full" [feedback]="false"
        [toggleMask]="true" />

      <validation-error [control]="registerForm" [InputLabel]="'password'"></validation-error>
      <validation-error [control]="registerForm.get('rePassword')"
        [InputLabel]="'password confirmation'"></validation-error>
    </div>

    <buttonComponent (click)="Signup()">Create Account</buttonComponent>

    <div class="my-5 text-center">
      <p class="ms-2 text-sm font-medium text-gray-600 text-heading select-none">
        Already have an account?
        <a routerLink="/login"
          class="text-blue-700 text-fg-brand hover:cursor-pointer hover:text-blue-900 transition">Login</a>
      </p>
    </div>
  </form> -->
</div>