

:host ::ng-deep .p-breadcrumb ol li:last-child a {
  color: gray !important;
}

:host ::ng-deep .p-breadcrumb ol li:last-child a :hover {
  color: #1D4ED8 !important;
}

.view-more{
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
