:host ::ng-deep .p-breadcrumb ol li:last-child a {
  color: #2563EB !important;
}

:host ::ng-deep .p-breadcrumb ol li:last-child a :hover {
  color: #1D4ED8 !important;
}


::ng-deep  a.p-breadcrumb-item-link.ng-star-inserted :hover{
   color: #1D4ED8 !important;
}