<div
  class="bg-sky-50 ps-5 h-full w-[350px] border-r-1 border-blue-100 flex flex-col justify-between"
>
  <div class="img-container pt-7">
    <img src="./images/Final Logo.svg" alt="Brand logo" class="w-50" />
    <div class="logo-badge flex items-center mt-2">
      <i-lucide [img]="folderCode" [size]="40" class="my-icon text-blue-600"></i-lucide>
      <h2 class="text-blue-600 text-xl font-semibold ps-3">Exam App</h2>
    </div>
  </div>

  <div class="nav-items mt-10 me-10 h-full">
    <ul class="flex flex-col text-gray-500 gap-5">
      <li class="nav-item">
        <a
          class="flex items-center h-15 hover:text-blue-600 hover:bg-blue-100 border border-blue-50 hover:border hover:border-blue-500 transitio duration-200"
          routerLink="/diplomas"
          routerLinkActive="text-blue-600 bg-blue-100 border-blue-500"
        >
          <i-lucide
            [img]="GraduationCap"
            [size]="50"
            [strokeWidth]="1"
            class="my-icon px-2"
          ></i-lucide>
          <p>Diplomas</p>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="flex items-center h-15 hover:text-blue-600 hover:bg-blue-100 border border-blue-50 hover:border hover:border-blue-500 transition duration-200"
          routerLink="/account-settings"
          routerLinkActive="text-blue-600 bg-blue-100 border-blue-500"
        >
          <i-lucide [img]="User" [size]="50" [strokeWidth]="1" class="my-icon px-2"></i-lucide>
          <p>Account Settings</p>
        </a>
      </li>
    </ul>
  </div>

  <div class="profile-section mb-10 flex">
    <div class="profile-icon w-15 h-15 overflow-hidden border-2 border-blue-500">
      <img [src]="user?.profilePhoto ?? './images/profile-mockup.jpg'" alt="username" />
    </div>
    <div class="profile-data ps-2 flex flex-col justify-center">
      <p class="text-blue-500">{{user?.username}}</p>
      <span class="text-sm text-gray-500">{{user?.email}}</span>
    </div>
    <i-lucide [img]="EV" [size]="20" class="my-icon text-gray-500 m-auto cursor-pointer" (click)="menu.toggle($event)"></i-lucide>
    <p-menu #menu [model]="items" [popup]="true">
      <ng-template let-item pTemplate="item">
        <div class="flex items-center gap-2 px-3 py-2 cursor-pointer w-full" [ngClass]="item.styleClass" >
          @if (item.lucideIcon) {
            <i-lucide [img]="item.lucideIcon" [size]="18"> </i-lucide>
          }
          <span>{{ item.label }}</span>
        </div>
      </ng-template>
    </p-menu>
  </div>
</div>
