<div class="h-screen overflow-hidden relative ">
    <div class="overlay ">
        <div class="circle w-100 h-100 absolute rounded-full -right-20 -z-100 bg-blue-400 opacity-40 blur-3xl"></div>
        <div
            class="circle w-100 h-100 absolute rounded-full -left-10 -bottom-50 -z-100 bg-blue-400 opacity-40 blur-3xl">
        </div>
    </div>

    <div class="content text-center h-full w-full flex flex-col items-center justify-center">
    <h1 class="text-7xl text-blue-600 font-bold mb-4 select-none"> <span class="text-9xl">404</span><br>Page Not Found</h1>
    <p class="text-gray-600 text-sm">Sorry, the page you'r looking for doesn't exist or has been moved</p>
    </div>
</div>